Options -MultiViews
RewriteEngine On
RewriteBase /Boutique-en-ligne/

# Laisser passer les vrais fichiers/dossiers
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Toutes les routes SPA  index.html
RewriteRule ^ index.html [L,QSA]